# For package
ujson
numpy

# SMAC3 <=== cannot use it with JAHS
smac>=2.0.1

# Benchmark (no JAHS, because it cannot run with SMAC)
mfhpo-benchmark-api[lcbench]>=2.0.0

# For local check
pytest-cov
pytest
flake8
black
mypy
